*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pianoproject.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    background-color: rgba(126, 28, 28, 0.3);
    position:relative;
    top:500px;
    justify-content: center;


}
.key{
    width:50px;
    line-height: 50px;
    margin:20px ;
    text-align: center;
    background-color: azure;
    font-size: larger;
    font-weight: bolder;
    color: rgb(15, 15, 54);
}
.enhance{
    border: 2px solid yellow;
    background-color: green;
}